<nav class="black">
  <ul>
  <li><a href="/driveins" class="breadcrumb">Show Drive-In Theaters</a></li>
  <li class="showmovieslink"><a href="/movies" class="breadcrumb">Show Movies</a></li>
  <li><a href="/times/movie" class="breadcrumb">Show By Movie Each Hour</a></li>
  <li><a href="/times/drivein" class="breadcrumb">Show By Drive-In Theater Each Hour</a></li>
  <li><a href="/snacks" class="breadcrumb">Food</a></li>
  <li><a href="/movies/new" class="breadcrumb">Add a New Movie</a></li>
  <li><a href="/driveins/new" class="breadcrumb">Add a New Drive-In Theater</a></li>

  <% if (currentUser) { %>
    <form action="/sessions?_method=DELETE" method="POST">
      <input type="submit" value="Log Out" class="btn-small red" />
    </form>
    <div class="left"></div>
      <div class="greeting"><h6>Welcome <%= currentUser.username %></h6></div>
    </div>
    <br>
  <% } else { %>
    <li><a href="/users/new">Sign Up</a></li>
    <li><a href="/sessions/new">Log In</a></li>
  <% } %>
</ul>
</nav>