<nav>
  <a href="/movies">Show Movies</a>
  <a href="/driveins">Show Drive-In Theaters</a>
  <a href="/times/movie">Show By Movie Each Hour</a>
  <a href="/times/drivein">Show By Drive-In Theater Each Hour</a>
  <a href="/movies/new">Add a New Movie</a>
  <a href="/driveins/new">Add a New Drive-In Theater</a>

  <% if (currentUser) { %>
    <form action="/sessions?_method=DELETE" method="POST">
      <input type="submit" value="Log Out" class="btn-small red" />
    </form>
    <div class="left"></div>
      <h3 class="greeting">Welcome <%= currentUser.username %></h3>
    </div>
  <% } else { %>
    <a href="/users/new">Sign Up</a>
    <a href="/sessions/new">Log In</a>
  <% } %>
</nav>