<nav>
    <a href="/movies">Show Movies</a>
    <a href="/driveins">Show Drive-In Theaters</a>
    <a href="/times/movie">Show Movies By Hour By Movie</a>
    <a href="/times/drivein">Show Movies By Hour By Drive-In Theater</a>
    <a href="/movies/new">Add a New Movie</a>
    <a href="/driveins/new">Add a New Drive-In Theaters</a>
</nav>