.nav {
    background-color: hsl(0, 0%, 0%) !important;
  }

ul {
    margin-left: 20px;
}

body {
    background-image: url('../img/DriveinBackground1.jpg');
    background-size: cover;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1 {
    color: rgb(255, 0, 200);
    align-content: center;
    margin: 20px;
    padding: 20px;
}

h2 {
    color: rgb(255, 0, 200);
    align-content: center;
    margin: 20px;
    padding: 20px;
    /* text-align: center; */
}

#addMovie {
    align-content: center;
}

h3 {
    color: limegreen;
    margin: 20px;
    padding: 20px;
}

h4 {
    color: rgb(251, 255, 0);
    border-left: 10px;
}

h5 {
    color: white;
    border-left: 20px;
}

h6 {
    color: white;
}

h2.subheading {
    border-left: 20px;
}

label {
    margin-left: 10px;
}

.movie-label {
    color: white;
    font-size: 150%;
    display: inline;
}

.time-label {
    color: white;
    font-size: 150%;
    display: inline;
}

.title-header {
    margin-left: 20px;
}

.btn {
    margin: 30px;
    padding: 20px;
    margin-bottom: 40px;
}

form {
    margin-left: 10px;
}

.form-control {
    line-height: 20px;
    color: white;
    font-size: 150%;
}

.movieField {
    line-height: 20px;
    color: white;
    font-size: 150%;
}

.name-label {
    line-height: 20px;
    color: white;
    font-size: 150%;
}

div.driveinList {
    color: white;
}

a {
    color: white;
}

label {
    color: white;
}

div.driveinButtonControlList {
    display: flex;
    flex-direction: row;
}

div.driveinButtonControlList > form {
    margin: 5px;
}

div.movieButtonControlList {
    display: flex;
    flex-direction: row;
}

div.movieButtonControlList > form {
    margin: 5px;
}

div.showtimes {
    color: white;
}

div.showtime {
    color: white;
}

input#description {
    height: 100px;
    width: 400px;
}

#description {
    line-height: 20px;
    color: white;
    font-size: 150%;
}
