body {
    background-image: url('../img/DriveinBackground1.jpg');
    background-size: cover;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1 {
    background-color: gold;
    align-content: center;
}

h2 {
    color: gold;
}

h3 {
    color: white;
}

div.driveinList {
    color: white;
}

a {
    color: white;
}

label {
    color: white;
}

div.driveinButtonControlList {
    display: flex;
    flex-direction: row;
}

div.driveinButtonControlList > form {
    margin: 5px;
}

div.movieButtonControlList {
    display: flex;
    flex-direction: row;
}

div.movieButtonControlList > form {
    margin: 5px;
}

div.showtimes {
    color: white;
}

div.showtime {
    color: white;
}

input.textarea {
    height: 50px;
    width: 300px;
}
