<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body class="movieIndex">
    <h2>Movies</h2>
    <% if (currentUser) { %>
        <a id="addMovie" href="/movies/new" ><h5>Add Movie</h5></a>
        <br>
    <% } %>    
    <ul>
        <% for (let i=0; i<movies.length; i++) { %>
            <li>
                <a href="/movies/<%=movies[i]._id%>">
                    <h4><%= movies[i].title %></h4>
                </a>

                <h5 class="driveinList">Drive-Ins:</h5>
                <ul class="collection with-header">
                <% for (let j=0; j<driveins.length; j++) { %>
                    <% for (let k=0; k<driveins[j].movies.length; k++) { %>
                        <% if (String(movies[i]._id) == String(driveins[j].movies[k]._id)) { %>
                            <li class="collection-header">
                                <a href="/driveins/<%=driveins[j]._id%>">
                                    <h6 class="timeEntry"><%= driveins[j].name %></h6>
                                </a>
                            </li>
                        <% } %>
                    <% } %>
                <% } %>
                </ul>

            </li>
            <br><br>
        <% } %>
    </ul>
</body>
</html>