<!DOCTYPE html>
<html lang="en" class="driveinIndex">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drive-Ins</title>
</head>
<body class="driveinIndex">
    <h1>Drive-Ins</h1>
    <% if (currentUser) { %>
        <a href="/driveins/new" >Create New Drive-In</a>
        <br>
    <% } %>
    <ul>
        <% for (let i=0; i<driveins.length; i++) { %>
            <li>
                <a href="/driveins/<%=driveins[i]._id%>">
                    <%= driveins[i].name %>
                </a>
            </li>

            <% if (currentUser) { %>
                <div class="driveinButtonControlList">
                    <form action="/driveins/<%=driveins[i]._id%>/edit?_method=GET" method="POST">
                        <button>EDIT</button>
                    </form>
                    <br>
                    <form action="/driveins/<%=driveins[i]._id%>?_method=DELETE" method="POST">
                        <button>DELETE</button>
                    </form>
                </div>
                <% } %>
            <br>
        <% } %>
    </ul>
</body>
</html>